.card-img-top {
    width: 100%;
}

.catalog{
  margin-top: 4.5em;
}

 @media (min-width: 600px) {
    .cardwrap {
      width: 15rem;
      display: inline-table;
      margin-left: 1em;
    }
    .catalog{
      margin-top: 2.3em;
    }
  }
